form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

label, select, button {
    margin: 10px 0;
}

#monthResult {
    font-size: 18px;
    color: darkblue;
}
