/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

label, input, button {
    margin: 10px 0;
}

#triangleResult {
    font-size: 18px;
    color: blue;
}
